*{
    font-family: sans-serif;
    font-weight: 100;
}
/*__________header__________*/
header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed !important;
    top: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.756);
}
#logo{
    padding: 120px;
    font-size: small;
}
#menu{
    padding-right: 120px;
}
#menu a{
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.708);
    text-decoration: none;
}
#menu a:active,#menu a:hover{
    color: black;
}
/*__________concept__________*/
.concept{
    width: 100%;
    height: 240px;
    background-image:linear-gradient(to right bottom, rgb(57, 30, 20),rgba(57, 30, 20, 0.842));
    color: white;
    text-align: center;
}
.concept #p1{
    padding-top: 120px;
    font-size: 15px;
}
.concept #p2{
    padding-top: 15px;
    font-size: large;
}
/*__________main__________*/
main{
    background-color: rgba(250, 235, 215, 0.493);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:500px ;
}
form{
    height: 350px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding-left: 100px;
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: white;
    border-radius: 20px;
}
input{
    width: 80%;
    height: 40px;
    border: none;
    background-color: rgba(235, 235, 235, 0.587);
    align-self: stretch;
    border-radius:10px ;
}
input:focus{
    border: none;
    background-color: rgba(128, 128, 128, 0.639);
    box-shadow: 0 0 10px black;
}
label{
    display: block;
    margin-top: 10px;
}
button{
    width: 80%;
    background-color: rgba(57, 30, 20, 0.842);
    height: 50px;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}
#message{
    height: 50px;
}
footer{
    width: 100%;
    height: 200px;
    text-align: center;
    background-image:linear-gradient(to right bottom, rgb(57, 30, 20),rgba(57, 30, 20, 0.842));
    color: white;
    border: solid;
    position: relative;
    top: -5px;

}
#footer_p{
    color: rgba(255, 255, 255, 0.767);
}

@media (max-width:1000px) and (min-width:600px){
    #logo{
        padding-left: 0;
    }
    #menu{
        padding-right: 20px;
    }
}

@media (max-width:600px){
    #logo{
        padding-left: 0;
    }
    #menu{
        padding-right: 20px;
    }
    form{
        padding-right: 100px;
    }
    input{
        width: 100%;
    }
    button{
        width: 100%;
    }
}