*{
    font-family: sans-serif;
    font-weight: 100;
}

body{
    margin: 0;
}

/*__________header__________*/
header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.756);
}
#logo{
    padding: 120px;
}
#menu{
    padding-right: 30px;
}
#menu a{
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.708);
    text-decoration: none;
}
#menu a:active,#menu a:hover{
    color: black;
}
/*__________concept__________*/
.concept{
    width: 100%;
    height: 300px;
    background-image:linear-gradient(to right bottom, rgb(57, 30, 20),rgba(57, 30, 20, 0.842));
    color: white;
    text-align: center;
}
.concept #p1{
    padding-top: 120px;
    font-size: 15px;
}
.concept #p2{
    padding-top: 15px;
    font-size: large;
}
/*__________main_books__________*/
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image:linear-gradient(to  bottom ,rgb(247, 241, 238),white 70%);
}
main #div{
    width: 80%;
    height: 500px;
    margin-top: 60px;
    margin-bottom: 100px;
}
/*_____books_____*/
.all_books{
    display: flex;
    overflow-x: auto;
    height: 500px;
}
.all_books::-webkit-scrollbar{
    width: 0px;

}
.books{
    min-width: 30%;
    height: 480px;
    border: solid 1px;
    margin-right:10px ;
}
.books_h{
    color: rgb(57, 30, 20);
    font-weight: 600;
    font-size: large;
}
.books_p{
    color: rgba(0, 0, 0, 0.715);
}
.pictures{
    width: 100%;
    height: 330px;
}
h3,h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: Bold;
    color: rgb(57, 30, 20);
    padding: 10px;
    font-size: large;
}
.read{
    background-color: rgb(57, 30, 20);
    width: 70px;
    height: 30px;
    border-radius: 20px;
    margin-left: 5px;
}
.read a{
    color: white;
    text-decoration: none;
}

#pic1{
    background-image: url(images/pic\ 1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#pic2{
    background-image: url(images/pic\ 2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#pic3{
    background-image: url(images/pic\ 3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#pic4{
    background-image: url(images/pic\ 4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#pic5{
    background-image: url(images/pic\ 5.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#pic6{
    background-image: url(images/pic\ 6.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#pic7{
    background-image: url(images/pic\ 7.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#pic8{
    background-image: url(images/pic\ 8.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#pic9{
    background-image: url(images/pic\ 9.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#pic10{
    background-image: url(images/pic\ 10.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#pic16{
    background-image: url(images/pic\ 16.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#pic17{
    background-image: url(images/pic17.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#pic18{
    background-image: url(images/pic18.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#pic19{
    background-image: url(images/pic19.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
#pic20{
    background-image: url(images/pic20.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
/*__________description___________*/
.description{
    width:90vw;
    text-align: justify;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}
.description h1{
    text-align: center;
    font-weight: bold;
}
.descreption p{
    padding-left: 50px;
}

.see_description{
    background-color: rgb(57, 30, 20);
    color: white;
    width: 130px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.see_description:hover{
    animation-name: bigger;
    animation-delay: 0.3s;
    animation-duration:2s;
    animation-fill-mode: forwards;
}

@keyframes bigger {
    50%{width: 160px;
    box-shadow: 0 0 10px rgb(57, 30, 20);
    }
    100%{width: 130;}
}

/*_______________votes | romans courtes | notre choie*/

/* votes */
#cards{
    height: 250px;
    /* background:rgba(57, 30, 20, 0.82); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.card{
    width: 30%;
    height: 200px;
    justify-content: center;
    text-align: center;
    background-color: rgb(247, 241, 238);
}
.card:hover{
    font-size: larger;
    position: relative;
    top: -10px;
    box-shadow: 0 10px 10px rgb(57, 30, 20);
}
/* 
#card1{
    background-color: rgb(199, 227, 245);
}
#card2{
    background-color: rosybrown;
}
#card3{
    background-color: cornsilk;
} */
.card a{
    background-color: rgba(0, 0, 0, 0.427);
    color: white;
}
.card a:hover{
    color: rgba(255, 255, 255, 0.696);
    text-decoration:none;
}



/*__________footer_________*/
footer{
    width: 100%;
    height: 200px;
    text-align: center;
    background-image:linear-gradient(to right bottom, rgb(57, 30, 20),rgba(57, 30, 20, 0.842));
    color: white;
    border: solid;
    padding-top: 10px;

}
#footer_p{
    color: rgba(255, 255, 255, 0.767);
}



/*_________________responsive_________________*/
@media (max-width:1000px ) and (min-width:600px){
    main #div{
        height: 400px;
    }

    /* header */
    header{
        height: 100px;
        position: relative;
    }
    #logo{
        padding: 20px;
    }
    #menu{
        padding-right: 2px;
        display: flex;
        flex-direction: column;
    }
    #menu a{
        font-size: smaller;
        font-weight: bold;
    }
    /* romans */
    .all_books{
        height: 400px;
    }
    .all_books *{
        padding:0 ;
    }
    .books{
        min-width: 30%;
        height: 350px;
        position: relative;
    }
    .pictures{
        height: 200px;
    }
    .read{
        position: absolute;
        bottom: 5px;
        width: 90%;
    }
    h3{
        margin:6px;
        font-size: medium;
        padding-bottom: 5px;
    }
    h5{
        margin-left: 5px;

        font-size: small;
        font-weight: 100;
    }

}

@media (max-width:600px){
    main #div{
        height: 400px;
    }

    /* header */
    header{
        height: 100px;
        position: relative;
    }
    #logo{
        padding: 20px;
    }
    #menu{
        padding-right: 2px;
        display: flex;
        flex-direction: column;
    }
    #menu a{
        font-size: smaller;
        font-weight: bold;
    }
    /* romans */
    .all_books{
        height: 400px;
    }
    .all_books *{
        padding:0 ;
    }
    .books{
        min-width: 40%;
        height: 350px;
        position: relative;
    }
    .pictures{
        height: 200px;
    }
    .read{
        position: absolute;
        bottom: 5px;
        width: 90%;
    }
    h3{
        margin:6px;
        font-size: medium;
        padding-bottom: 5px;
    }
    h5{
        margin-left: 5px;

        font-size: small;
        font-weight: 100;
    }
    #cards{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .card{
        width: 90%;
        margin-top: 20px ;

    }
}
/*_______________votes | romans courtes | notre choie*/


